body {
	font-family: Arial;
}

.info {
	text-align: center;
}

table {
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

tr {
	border-bottom: 1px solid #ddd;
}


th {
	background: lightblue;
}

