body {
	font-family: Arial;
}

h1, h2 {
	text-align: center;
}

table {
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

tr {
	border-bottom: 1px solid #ddd;
}

th {
	background: lightblue;
}

.info {
	text-align: left;
}

#task-abstraction {
	text-align: center;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.flexbox {
	flex-direction: row
	align-items: center;
	display: flex;
	text-align: left;
}

.flexbox > div {
	width: 50%;
}

svg {
	padding: 5%;
}

rect {
	stroke: black;
	stroke-width: 5px;
	fill: royalblue;
}

circle {
	fill: royalblue;
	opacity: 50%;
	overflow: visible;
}

rect:hover {
	fill: lightpink;
}

circle:hover {
	overflow: visible;
	stroke-width: 3px;
	stroke: black;
}

